.storybook-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    width: 100%;
}
.storybook-button--primary {
    color: white;
    background-color: #EA287C;
    border: 1px solid #EA287C;
    box-shadow: 0 1px 2px 0 #1018280D;
    top: 20px;
    left: 20px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 8px 8px 8px 8px;
}
.storybook-button--primary:hover {
    background-color: #D51568;
    border: 1px solid #D51568;
}
.storybook-button--primary:focus {
    box-shadow: 0 0 0 1px #D51568;
    outline: none;
    background-color: #EA287C;
    border: 1px solid #EA287C;
}
.storybook-button--secondary {
    color: #EA287C;
    background-color: #FFF6FA;
    border: 1px solid #FFF6FA;
    box-shadow: 0 1px 2px 0 #1018280D;
    top: 20px;
    left: 20px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 8px 8px 8px 8px;
}
.storybook-button--secondary:hover {
    background-color: #FCE3ED;
    border: 1px solid #FCE3ED;
}
.storybook-button--secondary:focus {
    box-shadow: 0 0 0 1px #EA287C;
    outline: none;
    background-color: #FFF6FA;
    border: 1px solid #FFF6FA;
}
.storybook-button--tertiary {
    color: black;
    background-color: #F7F7FC;
    border: 1px solid #F7F7FC;
    box-shadow: 0 1px 2px 0 #1018280D;
    top: 20px;
    left: 20px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 8px 8px 8px 8px;
}
.storybook-button--tertiary:hover {
    background-color: #EAEAF2;
    border: 1px solid #EAEAF2;
}
.storybook-button--tertiary:focus {
    box-shadow: 0 0 0 1px #EAEAF2;
    outline: none;
    background-color: #F2F4F7;
    border: 1px solid #F2F4F7;
}
.storybook-button--small {
    font-size: 12px;
    padding: 10px 16px;
}
.storybook-button--medium {
    font-size: 14px;
    padding: 11px 20px;
}
.storybook-button--large {
    font-size: 16px;
    padding: 12px 24px;
}
.storybook-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}