.container {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 362px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.id-checkmark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

p {
    margin: 0px;
}

.label, .id {
    font-weight: 400;
    color: #667085;
}

/* states */ 
.container.clicked {
    background-color: #FCE3ED; /* primary 100 */
}

.container.clicked .info {
    color: #EA287C; /* primary 500 */
}

.container.md {
    height: 60px;
    font-size: 14px;
}

.container.sm{
    height: 46px;
    font-size: 12px;
}

.container:hover {
    background-color: #FFF6FA; /* primary 50 */
}

.container:active {
    background-color: #FCE3ED; /* primary 100 */
}